{% extends 'admin/bien/index.html.twig' %}
{% block title %}
   Liste des utilisateurs bloqués
{% endblock %}
{% block pageTitle %}
   Liste des utilisateurs bloqués
{% endblock %}
{% block breadcrumb %}
Utilisateur
{% endblock %}
{% block bouton %}
    <a href="{{ path('admin_index') }}" class="btn btn-primary btn-sm">Tableau de bord</a>
{% endblock %}

{% block body %} 
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body py-2">
                  <!-- Table with stripped rows -->
                    <table class="table table-striped">
                        <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Numéro de téléphone</th>
                                    <th scope="col">Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>{{user.fullName}}</td>
                                        <td>{{user.telephone}}</td>
                                        <td>{{user.email}}</td>
                                        <td>
                                            <a href="{{ path('admin_index', {'id': user.id}) }}" title="Afficher" class="btn btn-info btn-sm">
                                                <i class="bi bi-eye text-white"></i>
                                            </a>
                                            <a href="{{path('app_user_debloquer', {'id': user.id})}}" title="Débloqué" class="btn btn-primary btn-sm">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="text-center">Aucun enregistrement</td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                   </table>
            </div>
        </div>
    </div>
 {% endblock %}

