{% extends 'admin/bien/index.html.twig' %}
{% block title %}
   Liste des utilisateurs
{% endblock %}
{% block pageTitle %}
   Liste des utilisateurs 
{% endblock %}
{% block breadcrumb %}
Utilisateurs
{% endblock %}
{% block bouton %}
    <a href="{{ path('admin_index') }}" class="btn btn-primary btn-sm">Tableau de bord</a>
{% endblock %}

{% block body %} 
    <div class="card">
            <div class="card-body">
              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>

                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Numéro de téléphone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{user.fullName}}</td>
                    <td>{{user.telephone}}</td>
                    <td>{{user.email}}</td>
                    <td>
                      {% if user.roles is not empty %}
                        {% if user.roles|json_encode == '["ROLE_ADMIN"]' %}
                          Administrateur
                        {% endif %}
                        {% if user.roles|json_encode == '["ROLE_USER"]' %}
                          Agent Immobilier           
                        {% endif %}
                      {% endif %}
                      </td>
                    <td>
                        <a href="{{ path('admin_index', {'id': user.id}) }}" title="Afficher" class="btn btn-info btn-sm">
                          <i class="bi bi-eye text-white"></i>
                        </a>
                        <a href="{{path('app_user_bloquer', {'id': user.id})}}" title="Bloqué" class="btn btn-danger btn-sm">
                        <i class="bi bi-pencil"></i>
                        </a>

                        <form method="post" action="{{path('app_user_delete', {'id': user.id } )}}">
                          <input type="hidden" name="_token" value="{{ csrf_token('delete'~ user.id) }}">
                          <button class="btn btn-outline-info btn-sm w-100 my-1">supprimer</button>
                        </form>
                    </td>
                  </tr>
                  {% else %}
                  <tr>
                      <td colspan="5" class="text-center">Aucun enregistrement</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
 {% endblock %}