{% extends 'base.html.twig' %}
{% block title %}
  ImmoPro | Aceuil
{% endblock %}

{% block body %}
  <div class="hero">
    <div class="hero-slide">
      <div
        class="img overlay"
        style="background-image: url('{{asset('assets/images/hero_bg_3.jpg')}}')"
      ></div>
      <div
        class="img overlay"
        style="background-image: url('{{asset('assets/images/hero_bg_2.jpg')}}')"
      ></div>
      <div
        class="img overlay"
        style="background-image: url('{{asset('assets/images/hero_bg_1.jpg')}}')"
      ></div>
    </div>
  
      <!--<div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-12 col-lg-9 text-center">
            <h1 class="heading" data-aos="fade-up">
              BIENVENU SUR IMMOPRO ! RETROUVER VOS BIENS FACILEMENT
            </h1>
            <form
              action="#"
              class="narrow-w form-search d-flex align-items-stretch mb-3"
              data-aos="fade-up"
              data-aos-delay="200"
             >
              <input
                type="text"
                class="form-control px-4"
                placeholder="Your ZIP code or City. e.g. New York"
              />
              <button type="submit" class="btn btn-primary">Rechercher</button>
            </form>
          </div>
        </div>
      </div>
     </div>     
     -->
     <!-- Slide 1 -->
    <div class="container">
      <div class="row justify-content-center align-items-center">
          <div class="slider-bottom d-flex justify-content-center" style="height: 136px;">
            <div class="col-md-6 col-lg-6 text-center" style="border-radius: 60px; border: solid #31d2f2;width: 500px;height: 180px;">
                <h1 class="heading" data-aos="fade-up" style="margin: 10px 10px;" id="bvn">
                    Bienvenue sur <span>ImmoPro</span>
                </h1>
                  <div class="slider-bottom d-flex justify-content-center" data-aos="fade-up"
                        data-aos-delay="50" style="color: white; font-size: 20px;">
                      Votre partenaire de référence en matière de gestion immobilière.
                  </div>
                  <div class="slider-bottom d-flex justify-content-center">
                      <ul  style="margin: -17px" >
                        <li class="heading" data-aos="fade-up" style="text-decoration: none !important;">
                            {% if app.user %}
                                <a href="{{ path('app.bien.new') }}" target="_blank" class="readon banner-style" style="color: #005555;font-size: 15px;background-color: aliceblue;border-radius: 20px;border: solid; padding: 4px;text-decoration: none !important;">Publier une annonce</a>
                            {% else %}
                                <a href="{{path('app_security_registration')}}" target="_blank" class="readon banner-style" style="color: #005555;font-size: 15px;background-color: aliceblue;border-radius: 20px;border: solid; padding: 4px;text-decoration: none !important;">Publier une annonce</a>
                            {% endif %}
                        </li>
                      </ul>
                  </div>
            </div>
          </div>   
      </div>
    </div>
  </div>
  <div class="sm-mt-111">
    <div style="background-color: #fff; max-width: 830px; margin: auto; padding: 4px 0; border-radius: 10px; position: relative; top: -50px; z-index: 8; border: 8px solid #f1f6fd;">
        <ul class="nav justify-content-center" role="tablist">
            <li class="nav-item" role="presentation" style="width: 50%;">
                <a class="nav-link active text-center" style="font-size: 16px; font-weight: bold; color: #37708e;" href="#" id="loc-tab" data-bs-toggle="tab" data-bs-target="#loc" role="tab" aria-controls="loc" aria-selected="true">Locataire</a>
            </li>
            <li class="nav-item" role="presentation" style="width: 50%;">
                <a class="nav-link text-center" style="font-size: 16px; font-weight: bold; color: #37708e;" href="#" id="pro-tab" data-bs-toggle="tab" data-bs-target="#pro" role="tab" aria-controls="pro" aria-selected="false">Propriétaire</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="loc" role="tabpanel" aria-labelledby="loc-tab">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 text-center">
                        <a href="#" data-bs-target=".laisser-demande-modal" data-bs-toggle="modal">
                            <div style="width: 274px; height: auto; border-radius: 20px; font-size: 15px; line-height: 36px; margin: 16px auto; color: white; background-color: #005555;">
                                Recherchez-vous un bien immobilier ?
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pro" role="tabpanel" aria-labelledby="pro-tab">
                <div class="row">
                    <div class="col-md-4 col-sm-12 text-center">
                        <a href="#" data-bs-target=".estimer-loyer-modal" data-bs-toggle="modal">
                            <div style="width: 170px; height: auto; border-radius: 25px; font-size: 15px; line-height: 36px; margin: 16px auto; color: #005555; background-color: white; border: 1px solid #005555;">
                                Estimer mon loyer
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center">
                        <a href="#" data-bs-target=".confier-mon-bien-modal" data-bs-toggle="modal">
                            <div style="width: 270px; height: auto; border-radius: 25px; font-size: 15px; line-height: 36px; margin: 16px auto; color: white; background-color: #005555;">
                                Confier mon bien à Immoprof
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center">
                        <a href="#" data-bs-target=".mettre-mon-bien-modal" data-bs-toggle="modal">
                            <div style="width: 170px; height: auto; border-radius: 25px; font-size: 15px; line-height: 36px; margin: 16px auto; color: #005555; background-color: white; border: 1px solid #005555;">
                                Vendre mon bien
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="section mage">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-9 col-lg-6">
            <h2 class="font-weight-bold text-primary heading dispo" style="font-size: 22px;">
              Offres disponibles
            </h2>
          </div>
          <div class="col-md-9 col-lg-6 text-lg-end">
            <p>
              <a
                href="{{ path('bien.tout.index') }}"
                target="_blank"
                class="btn btn-primary text-white py-2 px-3"
                >Voir plus d'offres</a
              >
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="property-slider-wrap">
              <div class="property-slider">
                <!-- .item -->
                  {% for bien in biens %}
                    <div class="property-item">
                      {% if getFilesByFileCode(bien.CodeFichier, '1') == bien.CodeFichier %}
                          {% if bien.typeBien.categorie == 'a_louer' %}
                              <a href="{{ path('bien.show', {'id': bien.id}) }}" class="img">
                                <img src="{{asset('assets/images/img_4.jpg')}}" alt="Image" class="img-fluid" /> 
                              </a>
                          {% else %}
                              <a href="{{ path('bien.show', {'id': bien.id}) }}" class="img">
                                <img src="{{ asset('assets/images/img_3.jpg') }}" alt="Image" class="img-fluid"/>
                              </a>
                          {% endif %}
                      {% else %}
                        <a href="{{ path('bien.show', {'id': bien.id}) }}" class="img">
                            <img src="{{ sitelink ~ getFilesByFileCode(bien.CodeFichier, '1') }}" alt="Image" class="img-fluid"/>
                        </a>
                      {% endif %}
                      <div class="property-content">
                        <div class="price mb-2">
                          <a class="" href="{{ path('bien.show', {'id': bien.id}) }}" title="{{ bien.price|number_format(0, ',', ' ') ~ ' FCFA '}}{{bien.paiementLouer ? '/'~ bien.paiementLouer :''}}">
                            <i class="fa fa-money"></i><span>Prix : {{ bien.price|number_format(0, ',', ' ') ~ ' FCFA ' }}</span>         
                          </a>
                        </div>
                        <div>
                          <a class ="" href="{{ path('bien.show', {'id': bien.id}) }}" title = " {{ bien.typeBien.type ~ (bien.standing ? ' - ' ~ bien.standing.name : '') }} à {{bien.city}} ">
                          <h6> {{ bien.typeBien.type ~ (bien.standing ? ' - ' ~ bien.standing.name : '') }} 
                            {{ bien.typeBien.categorie == 'a_louer' ? 'à louer' : 'à vendre' }} à {{bien.city}} </h6>
                          </a>
                          
                          <span class="city d-block mb-3">Caracteristiques</span>

                          <div class="specs d-flex mb-4">
                              <span class="d-block d-flex align-items-center">
                                <span class="icon-bath me-2"></span>
                                <span class="caption"> Surface : {{bien.surface ? bien.surface : '?' }} m² </span>
                              </span>
                              <span class="d-block d-flex align-items-center">
                                <span class="icon-room me-2"></span>
                                <span class="caption"> Type de compteur :
                                  {% if bien.heat == '0' %} personnel    {% endif %}
                                  {% if bien.heat == '1' %} à carte      {% endif %}
                                  {% if bien.heat == '2'  %} Decompteur  {% endif %}
                                  {% if bien.heat == '3'  %} solaire     {% endif %}
                                </span>
                              </span>
                          </div>       
                          <div class="specs d-flex mb-4">
                              <span class="d-block d-flex align-items-center me-3">
                              <span class="icon-bed me-2"></span>
                              <span class="caption">{{bien.rooms ? bien.rooms : '?'}} pièces </span>
                              </span>
                              <span class="d-block d-flex align-items-center">
                              <span class="icon-bath me-2"></span>
                              <span class="caption"> {{bien.bedrooms ? bien.bedrooms : '?' }} chambres </span>
                              </span>
                              <span class="d-block d-flex align-items-center">
                                <span class="icon-bath me-2"></span><br>
                                <span class="caption"> Niveau : {{bien.floor ? bien.floor : '?'}} </span>
                              </span>
                            </div>
                            <div class="d-block mb-3" style=font-size:12px;">
                                {% if bien.reference is not null %}
                                
                                  <a class="d-nwrap" href="{{ path('bien.show', {'id': bien.id}) }}" title="Référence: {{ bien.reference }}">
                                    <i class="icon-info-circle"></i> Réf: {{ bien.reference }}
                                  </a>
                                {% endif %}
                            </div>
                            <div class="social" >
                                <ul class="social list-unstyled list-inline dark-hover">
                                    <li class="list-inline-item">
                                       <i class="icon-clock-o caption"></i> Publié le {{ bien.createdAt ? bien.createdAt|date('d/m/Y') : '' }}
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('bien.show', {'id': bien.id}) }}" target="_blank">
                                            <span class="icon-facebook partager-reseaux-sociaux" title="Partager sur facebook"></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item ">
                                      {% set lienACliquer = '' ~ url('bien.show', {'id': bien.id}) %}
                                      {% set textWhatsApp = "Bonjour madame/monsieur. J'ai consulté le bien immobilier \"" ~ bien.name ~ "\" dont l'adresse est " ~ lienACliquer ~ " et je pense que ça pourra vous intéresser." %}
                                        <a href="https://wa.me/?text={{ textWhatsApp }}" target="_blank">
                                        <span class="icon-whatsapp  partager-reseaux-sociaux" title="Partager sur WhatsApp"></span>
                                        </a>
                                  </li>
                                </ul>
                            </div>
                            <div class="text-center">
                              <a
                              href="{{path('bien.show', {id: bien.id})}}"
                              class="btn btn-primary py-2 px-3 text-center"
                              >Plus de details</a
                              >
                            </div>
                      </div>
                      </div>
                    </div>
                  {% endfor %}
            </div>
                <div
                id="property-nav"
                class="controls"
                tabindex="0"
                aria-label="Carousel Navigation"
              >
                <span
                  class="prev"
                  data-controls="prev"
                  aria-controls="property"
                  tabindex="-1"
                  >Precedent</span
                >
                <span
                  class="next"
                  data-controls="next"
                  aria-controls="property"
                  tabindex="-1"
                  >Suivant</span
                >
              </div>  
            </div>
          </div>
        </div>
     </div>
  </div>
  <section class="features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
          <div class="box-feature" style="background: #31d2f2;">
            <span class="flaticon-house"></span>
            <h3 class="mb-3">Nos Bien</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptates, accusamus.
            </p>
            <p><a href="#" class="learn-more">Voir</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
          <div class="box-feature">
            <span class="flaticon-building"></span>
            <h3 class="mb-3">Nos Bien A Louer</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptates, accusamus.
            </p>
            <p><a href="{{path('app_louer')}}" class="learn-more">Voir</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
          <div class="box-feature" style="background: #31d2f2;">
            <span class="flaticon-house-3"></span>
            <h3 class="mb-3">Nos Bien A Vendre</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptates, accusamus.
            </p>
            <p><a href="{{path('app_vendre')}}" class="learn-more">Voir</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
          <div class="box-feature">
            <span class="flaticon-house-1"></span>
            <h3 class="mb-3">Nos Guest Housse</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptates, accusamus.
            </p>
            <p><a href="#" class="learn-more">Voir</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row" style="padding: 30px 0 0;">
      <div class="col-md-12 text-center dispo" style="font-size: 20px; padding: 0 0 20px; text-transform: uppercase;">
          Comment ça marche ?
      </div>
  </div>
  <ul class="nav justify-content-center" role="tablist">
      <li class="nav-item" role="presentation">
          <a class="nav-link active text-center" style="font-size: 16px; font-weight: bold; color: #37708e;" href="#" id="locataire-tab" data-bs-toggle="tab" data-bs-target="#locataire" role="tab" aria-controls="locataire" aria-selected="true">LOCATAIRE</a>
      </li>
      <li class="nav-item" role="presentation">
          <a class="nav-link text-center" style="font-size: 16px; font-weight: bold; color: #37708e;" href="#" id="proprietaire-tab" data-bs-toggle="tab" data-bs-target="#proprietaire" role="tab" aria-controls="proprietaire" aria-selected="false">PROPRIETAIRE</a>
      </li>
  </ul>
  <div class="tab-content" style="min-height: 150px; padding: 15px 50px 30px;">
      <div class="tab-pane fade show active" id="locataire" role="tabpanel" aria-labelledby="locataire-tab">
          <div class="row">
              <div class="col-md-3 text-center">
                  <div style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid #37708e; line-height: 50px; font-weight: bold; font-size: 22px; background-color: white; margin: 10px auto;">
                      1
                  </div>
                  <div style="font-size: 18px; margin-bottom: 15px;">
                      Fiche locative
                  </div>
                  <div>
                      Complétez une fiche qui décrit vos besoins et soumettez-nous.
                  </div>
              </div>
              <div class="col-md-3 text-center">
                  <div style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid #37708e; line-height: 50px; font-weight: bold; font-size: 22px; background-color: white; margin: 10px auto;">
                      2
                  </div>
                  <div style="font-size: 18px; margin-bottom: 15px;">
                      Programmation de visite
                  </div>
                  <div>
                      Nous vous contacterons dans un court délai pour vous faire visiter votre nouveau logement.
                  </div>
              </div>
              <div class="col-md-3 text-center">
                  <div style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid #37708e; line-height: 50px; font-weight: bold; font-size: 22px; background-color: white; margin: 10px auto;">
                      3
                  </div>
                  <div style="font-size: 18px; margin-bottom: 15px;">
                      État des lieux
                  </div>
                  <div>
                      Découvrez votre logement lors de l’état des lieux d’entrée.
                  </div>
              </div>
              <div class="col-md-3 text-center">
                  <div style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid #37708e; line-height: 50px; font-weight: bold; font-size: 22px; background-color: white; margin: 10px auto;">
                      4
                  </div>
                  <div style="font-size: 18px; margin-bottom: 15px;">
                      Signature du bail
                  </div>
                  <div>
                      Signez votre contrat de bail.
                  </div>
              </div>
              <div class="col-md-6 offset-md-3 text-center">
                  <a href="#" data-bs-target=".laisser-demande-modal" data-bs-toggle="modal">
                      <div style="width: 240px; height: 40px; border-radius: 10px; font-size: 15px; line-height: 40px; margin: 35px auto 0; color: white; background-color: #005555;" id="deposer-votre-demande-locative">
                          Déposer votre demande locative
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="tab-pane fade" id="proprietaire" role="tabpanel" aria-labelledby="proprietaire-tab">
          <div class="row">
              <div class="col-md-3 text-center">
                  <div style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid #37708e; line-height: 50px; font-weight: bold; font-size: 22px; background-color: white; margin: 10px auto;">
                      1
                  </div>
                  <div style="font-size: 18px; margin-bottom: 15px;">
                      Mise en valeur de votre bien
                  </div>
                  <div>
                      Un reportage photo et vidéo complet de votre bien sera réalisé et diffusé sur nos plateformAskes.
                  </div>
              </div>
              <div class="col-md-3 text-center">
                  <div style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid #37708e; line-height: 50px; font-weight: bold; font-size: 22px; background-color: white; margin: 10px auto;">
                      2
                  </div>
                  <div style="font-size: 18px; margin-bottom: 15px;">
                      Sélection du locataire
                  </div>
                  <div>
                      Nous analysons minutieusement les candidatures et validons les dossiers locatifs, rédigeons le bail et assurons l’état des lieux
                      d’entrée.
                  </div>
              </div>
              <div class="col-md-3 text-center">
                  <div style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid #37708e; line-height: 50px; font-weight: bold; font-size: 22px; background-color: white; margin: 10px auto;">
                      3
                  </div>
                  <div style="font-size: 18px; margin-bottom: 15px;">
                      Gestion réactive et moderne
                  </div>
                  <div>
                      Votre espace en ligne vous permet de suivre toutes les opérations et de contacter facilement votre conseiller.
                  </div>
              </div>
              <div class="col-md-3 text-center">
                  <div style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid #37708e; line-height: 50px; font-weight: bold; font-size: 22px; background-color: white; margin: 10px auto;">
                      4
                  </div>
                  <div style="font-size: 18px; margin-bottom: 15px;">
                      Loyer en moins de 5 jours
                  </div>
                  <div>
                      Grâce à nos moyens de paiement, vous recevez vos fonds en moins de 5 jours après le paiement du locataire.
                  </div>
              </div>
              <div class="col-md-6 offset-md-3 text-center">
                  <a href="#" data-bs-target=".confier-mon-bien-modal" data-bs-toggle="modal">
                      <div style="width: 240px; height: 40px; border-radius: 10px; font-size: 15px; line-height: 40px; margin: 35px auto 0; color: white; background-color: #005555;">
                          Confier mon bien Immopro
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
     
  <div class="section sec-testimonials mage">
    <div class="container">
      <div class="row mb-2 align-items-center">
        <div class="col-md-12">
          <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0 text-center" style="font-size: 30px;">
            Nos client en parlent
          </h2>
        </div> 
      </div>
      <div class="row">
        <div class="col-md-12 text-md-end">
          <div id="testimonial-nav"
                class="controls"
                tabindex="0"
                aria-label="Carousel Navigation"
          >
            <span class="prev d-none" data-controls="prev" tabindex="-1" aria-controls="testimonial">Precedent</span>
            <span class="next d-none" data-controls="next" tabindex="-1" aria-controls="testimonial">Suivant</span>
          </div>
        </div>
      </div>
      <div class="testimonial-slider-wrap">
        <div class="testimonial-slider">
          <div class="item">
            <div class="testimonial">
              <img
                src="{{asset('assets/images/person_1-min.jpg')}}"
                alt="Image"
                class="img-fluid rounded-circle w-25 mb-4"
              />
              <div class="rate">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
              </div>
              <h3 class="h5 text-primary mb-4">James Smith</h3>
              <blockquote>
                <p>
                  &ldquo;Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind
                  texts. Separated they live in Bookmarksgrove right at the
                  coast of the Semantics, a large language ocean.&rdquo;
                </p>
              </blockquote>
              <p class="text-black-50">Designer, Co-founder</p>
            </div>
          </div>

          <div class="item">
            <div class="testimonial">
              <img
                src="{{asset('assets/images/person_2-min.jpg')}}"
                alt="Image"
                class="img-fluid rounded-circle w-25 mb-4"
              />
              <div class="rate">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
              </div>
              <h3 class="h5 text-primary mb-4">Mike Houston</h3>
              <blockquote>
                <p>
                  &ldquo;Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind
                  texts. Separated they live in Bookmarksgrove right at the
                  coast of the Semantics, a large language ocean.&rdquo;
                </p>
              </blockquote>
              <p class="text-black-50">Designer, Co-founder</p>
            </div>
          </div>

          <div class="item">
            <div class="testimonial">
              <img
                src="{{asset('assets/images/person_3-min.jpg')}}"
                alt="Image"
                class="img-fluid rounded-circle w-25 mb-4"
              />
              <div class="rate">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
              </div>
              <h3 class="h5 text-primary mb-4">Cameron Webster</h3>
              <blockquote>
                <p>
                  &ldquo;Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind
                  texts. Separated they live in Bookmarksgrove right at the
                  coast of the Semantics, a large language ocean.&rdquo;
                </p>
              </blockquote>
              <p class="text-black-50">Designer, Co-founder</p>
            </div>
          </div>

          <div class="item">
            <div class="testimonial">
              <img
                src="{{asset('assets/images/person_4-min.jpg')}}"
                alt="Image"
                class="img-fluid rounded-circle w-25 mb-4"
              />
              <div class="rate">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
              </div>
              <h3 class="h5 text-primary mb-4">Dave Smith</h3>
              <blockquote>
                <p>
                  &ldquo;Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind
                  texts. Separated they live in Bookmarksgrove right at the
                  coast of the Semantics, a large language ocean.&rdquo;
                </p>
              </blockquote>
              <p class="text-black-50">Designer, Co-founder</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-4 bg-light">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-6 col-lg-5">
          <h4 class="font-weight-bold heading text-primary mb-4 dispo">
            Let's find home that's perfect for you
          </h4>
          <p class="text-black-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            enim pariatur similique debitis vel nisi qui reprehenderit.
          </p>
        </div>
      </div>
      <div class="row justify-content-between mb-5">
        <div class="col-md-9 col-lg-7 mb-5 mb-lg-0 order-lg-2">
          <div class="img-about dots">
            <img src="{{asset('assets/images/hero_bg_3.jpg')}}" alt="Image" class="img-fluid" style="transform: scale(1) translateX(-100px) translateY(-12px); border-radius: 50px; height:372px;"/>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="d-flex feature-h">
            <span class="wrap-icon me-3">
              <span class="icon-home2"></span>
            </span>
            <div class="feature-text">
              <h3 class="heading">2M Properties</h3>
              <p class="text-black-50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nostrum iste.
              </p>
            </div>
          </div>

          <div class="d-flex feature-h">
            <span class="wrap-icon me-3">
              <span class="icon-person"></span>
            </span>
            <div class="feature-text">
              <h3 class="heading">Top Rated Agents</h3>
              <p class="text-black-50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nostrum iste.
              </p>
            </div>
          </div>

          <div class="d-flex feature-h">
            <span class="wrap-icon me-3">
              <span class="icon-security"></span>
            </span>
            <div class="feature-text">
              <h3 class="heading">Legit Properties</h3>
              <p class="text-black-50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nostrum iste.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row section-counter mt-5">
        <div
          class="col-md-6 col-sm-6 col-6 col-lg-3"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="counter-wrap mb-5 mb-lg-0">
            <span class="number"
              ><span class="countup text-primary">3298</span></span
            >
            <span class="caption text-black-50"># of Buy Properties</span>
          </div>
        </div>
        <div
          class="col-md-6 col-sm-6 col-6 col-lg-3"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="counter-wrap mb-5 mb-lg-0">
            <span class="number"
              ><span class="countup text-primary">2181</span></span
            >
            <span class="caption text-black-50"># of Sell Properties</span>
          </div>
        </div>
        <div
          class="col-md-6 col-sm-6 col-6 col-lg-3"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <div class="counter-wrap mb-5 mb-lg-0">
            <span class="number"
              ><span class="countup text-primary">9316</span></span
            >
            <span class="caption text-black-50"># of All Properties</span>
          </div>
        </div>
        <div
          class="col-md-6 col-sm-6 col-6 col-lg-3"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <div class="counter-wrap mb-5 mb-lg-0">
            <span class="number"
              ><span class="countup text-primary">7191</span></span
            >
            <span class="caption text-black-50"># of Agents</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="features-1">
    <div class="container">
      <div class="row"> 
           <div class="col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="200">
                {% for message in app.flashes('success') %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div> 
                {% endfor %}

                {{ form_start(form) }}
              <form action="#">
                <div class="row">
                  <div class="col-md-6">
                  {{ form_row(form.name) }}
                  <div class="form-error">
                      {{ form_errors(form.name) }}
                  </div>
                  </div>
                  <div class="col-md-6">
                  {{ form_row(form.email) }}
                      <div class="form-error">
                        {{ form_errors(form.email) }}
                      </div>
                  </div>
                  <div class="col-md-12 ">
                    {{ form_row(form.objet) }}
                      <div class="form-error">
                        {{ form_errors(form.objet) }}
                    </div>
                  </div>
                  <div class="col-md-12">
                    {{ form_row(form.message) }}
                    <div class="form-error">
                        {{ form_errors(form.message) }}
                    </div>
                  </div>
                  <div class="col-md-12 mt-2">
                  {{ form_row(form.submit) }}  
                  </div>
                </div>
              </form>
              {{ form_end(form) }}
        </div>
        <div  class="col-md-4 col-lg-6 mt-5" 
        data-aos="fade-up" data-aos-delay="500">
            <div class="box-feature" style="background: #31d2f2;">
              <span class="flaticon-building"></span>
              <h3 class="mb-3">Nos Biens A Louer</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptates, accusamus.
              </p>
              <p><a href="{{path('app_louer')}}" class="learn-more">Voir</a></p>
            </div>
          </div>
        </div>
      </div>
     <!-- /.row -->
  </section>

  <div class="section section-5 bg-light mage" >
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-6 col-lg-6 mb-5">
          <h2 class="font-weight-bold heading text-primary mb-4 mt-4 dispo" style="font-size: 30px;">
            Our Agents
          </h2>
          <p class="text-black-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            enim pariatur similique debitis vel nisi qui reprehenderit totam?
            Quod maiores.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="h-100 person">
            <img
              src="{{asset('/assets/images/person_1-min.jpg')}}"
              alt="Image"
              class="img-fluid"
            />

            <div class="person-contents">
              <h2 class="mb-0 dispo"><a href="#">James Doe</a></h2>
              <span class="meta d-block mb-3">Real Estate Agent</span>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facere officiis inventore cumque tenetur laboriosam, minus
                culpa doloremque odio, neque molestias?
              </p>

              <ul class="social list-unstyled list-inline dark-hover">
                <li class="list-inline-item">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="h-100 person">
            <img
              src="{{asset('assets/images/person_2-min.jpg')}}"
              alt="Image"
              class="img-fluid"
            />

            <div class="person-contents">
              <h2 class="mb-0 dispo"><a href="#">Jean Smith</a></h2>
              <span class="meta d-block mb-3">Real Estate Agent</span>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facere officiis inventore cumque tenetur laboriosam, minus
                culpa doloremque odio, neque molestias?
              </p>

              <ul class="social list-unstyled list-inline dark-hover">
                <li class="list-inline-item">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="h-100 person">
            <img
              src=" {{asset('/assets/images/person_3-min.jpg')}}"
              alt="Image"
              class="img-fluid"
            />

            <div class="person-contents">
              <h2 class="mb-0 dispo"><a href="#">Alicia Huston</a></h2>
              <span class="meta d-block mb-3">Real Estate Agent</span>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facere officiis inventore cumque tenetur laboriosam, minus
                culpa doloremque odio, neque molestias?
              </p>

              <ul class="social list-unstyled list-inline dark-hover">
                <li class="list-inline-item">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade laisser-demande-modal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="color: #005555;">Vos informations</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% set message = app.session.get('message') %}
                {% if message == 'demande' %}
                    <div class="alert alert-success alert-dismissible fade show mb-3 text-center" role="alert">
                        <strong>Votre demande de logement est envoyée avec succès.</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                {{ form_start(formAsk) }}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 mb-15">
                                {{ form_label(formAsk.nomPrenom) }}
                                {{ form_widget(formAsk.nomPrenom) }}
                            </div>
                            <div class="col-md-4 mb-15">
                                {{ form_label(formAsk.telephone) }}
                                {{ form_widget(formAsk.telephone) }}
                            </div>
                            <div class="col-md-4 mb-15">
                                {{ form_label(formAsk.email) }}
                                {{ form_widget(formAsk.email) }}
                            </div>
                            <div class="col-md-6 mb-15">
                                {{ form_label(formAsk.zone) }}
                                {{ form_widget(formAsk.zone) }}
                            </div>
                            <div class="col-md-6 mb-15">
                                {{ form_label(formAsk.loyer) }}
                                {{ form_widget(formAsk.loyer) }}
                            </div>
                            <div class="col-md-6 mb-15">
                                {{ form_label(formAsk.typeBien) }}
                                {{ form_widget(formAsk.typeBien) }}
                            </div>
                            <div class="col-md-6 mb-15">
                                {{ form_label(formAsk.standing) }}
                                {{ form_widget(formAsk.standing) }}
                            </div>
                            <div class="col-md-12 mb-15">
                                {{ form_label(formAsk.detail) }}
                                {{ form_widget(formAsk.detail) }}
                            </div>
                            {{ form_widget(formAsk._token) }}
                            <div class="col-md-6">
                                <button type="submit" style="width: 100px; height: 40px; border-radius: 25px; font-size: 15px; line-height: 40px; color: white; background-color: #005555; border: none;">
                                    Envoyer
                                </button>
                            </div>
                        </div>
                    </div>
                {{ form_end(formAsk) }}
            </div>
        </div>
    </div>
  </div>

  <div class="modal fade estimer-loyer-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" style="color: #005555;">Vos informations</h3>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fermer">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          {% set message = app.session.get('message') %}
          {% if message == 'estimer_loyer' %}
            <div class="alert alert-success alert-dismissible fade show mb-3 text-center" role="alert">
              <strong>Votre demande de gestion locative est envoyée avec succès.</strong>
              <button type="button" class="close" data-bs-dismiss="alert" aria-label="Fermer">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
          {{ form_start(formEsLoyer) }}
              <div class="form-group">
                  <div class="row">
                      <div class="col-md-4 mb-15">
                          {{ form_label(formEsLoyer.nomPrenom) }}
                          {{ form_widget(formEsLoyer.nomPrenom) }}
                      </div>
                      <div class="col-md-4 mb-15">
                          {{ form_label(formEsLoyer.telephone) }}
                          {{ form_widget(formEsLoyer.telephone) }}
                      </div>
                      <div class="col-md-4 mb-15">
                          {{ form_label(formEsLoyer.email) }}
                          {{ form_widget(formEsLoyer.email) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formEsLoyer.lieu) }}
                          {{ form_widget(formEsLoyer.lieu) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formEsLoyer.typeLogement) }}
                          {{ form_widget(formEsLoyer.typeLogement) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formEsLoyer.standing) }}
                          {{ form_widget(formEsLoyer.standing) }}
                      </div>
                        <div class="col-md-6 mb-15">
                          {{ form_label(formEsLoyer.files) }}
                          {{ form_widget(formEsLoyer.files) }}
                      </div>
                      <div class="col-md-12 mb-15">
                          {{ form_label(formEsLoyer.detail) }}
                          {{ form_widget(formEsLoyer.detail) }}
                      </div>
                      {{ form_widget(formEsLoyer._token) }}
                      <div class="col-md-6">
                          <button type="submit" style="width: 100px; height: 40px; border-radius: 25px; font-size: 15px; line-height: 40px; color: white; background-color: #005555; border: none;">
                              Envoyer
                          </button>
                      </div>
                  </div>
              </div>
          {{ form_end(formEsLoyer) }}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade confier-mon-bien-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" style="color: #005555;">Vos informations</h3>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fermer">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% set message = app.session.get('message') %}
          {% if message == 'confier_bien' %}
              <div class="alert alert-success alert-dismissible fade show mb-3 text-center" role="alert">
                  <strong>Votre demande de mise à disposition de votre bien immobilier chez E-COYE IMMO est envoyée avec succès.</strong>
                  <button type="button" class="close" data-bs-dismiss="alert" aria-label="Fermer">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          {% endif %}
          {{ form_start(formCfBien) }}
              <div class="form-group">
                  <div class="row">
                      <div class="col-md-4 mb-15">
                          {{ form_label(formCfBien.nomPrenom) }}
                          {{ form_widget(formCfBien.nomPrenom) }}
                      </div>
                      <div class="col-md-4 mb-15">
                          {{ form_label(formCfBien.telephone) }}
                          {{ form_widget(formCfBien.telephone) }}
                      </div>
                      <div class="col-md-4 mb-15">
                          {{ form_label(formCfBien.email) }}
                          {{ form_widget(formCfBien.email) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formCfBien.zone) }}
                          {{ form_widget(formCfBien.zone) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formCfBien.typeLogement) }}
                          {{ form_widget(formCfBien.typeLogement) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formCfBien.standing) }}
                          {{ form_widget(formCfBien.standing) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formCfBien.files) }}
                          {{ form_widget(formCfBien.files) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formCfBien.dateHeureRdv) }}
                          {{ form_widget(formCfBien.dateHeureRdv) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formCfBien.typeRdv) }}
                          {{ form_widget(formCfBien.typeRdv) }}
                      </div>
                      <div class="col-md-12 mb-15">
                          {{ form_label(formCfBien.detail) }}
                          {{ form_widget(formCfBien.detail) }}
                      </div>
                      {{ form_widget(formCfBien._token) }}
                      <div class="col-md-6">
                          <button type="submit" style="width: 100px; height: 40px; border-radius: 25px; font-size: 15px; line-height: 40px; color: white; background-color: #005555; border: none;">
                              Envoyer
                          </button>
                      </div>
                  </div>
              </div>
          {{ form_end(formCfBien) }}
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade mettre-mon-bien-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" style="color: #005555;">Vos informations</h3>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% set message = app.session.get('message') %}
          {% if message == 'vendre_bien' %}
            <div class="alert alert-success alert-dismissible fade show mb-3 text-center" role="alert">
              <strong>Votre demande de mise en vente de votre bien immobilier est envoyée avec succès.</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
          {{ form_start(formVdBien) }}
              <div class="form-group">
                  <div class="row">
                      <div class="col-md-4 mb-15">
                          {{ form_label(formVdBien.nomPrenom) }}
                          {{ form_widget(formVdBien.nomPrenom) }}
                      </div>
                      <div class="col-md-4 mb-15">
                          {{ form_label(formVdBien.telephone) }}
                          {{ form_widget(formVdBien.telephone) }}
                      </div>
                      <div class="col-md-4 mb-15">
                          {{ form_label(formVdBien.email) }}
                          {{ form_widget(formVdBien.email) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formVdBien.zone) }}
                          {{ form_widget(formVdBien.zone) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formVdBien.typeBien) }}
                          {{ form_widget(formVdBien.typeBien) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formVdBien.standing) }}
                          {{ form_widget(formVdBien.standing) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formVdBien.estimation) }}
                          {{ form_widget(formVdBien.estimation) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formVdBien.dateHeureRdv) }}
                          {{ form_widget(formVdBien.dateHeureRdv) }}
                      </div>
                      <div class="col-md-6 mb-15">
                          {{ form_label(formVdBien.typeRdv) }}
                          {{ form_widget(formVdBien.typeRdv) }}
                      </div>
                      <div class="col-md-12 mb-15">
                          {{ form_label(formVdBien.files) }}
                          {{ form_widget(formVdBien.files) }}
                      </div>
                      <div class="col-md-12 mb-15">
                          {{ form_label(formVdBien.detail) }}
                          {{ form_widget(formVdBien.detail) }}
                      </div>
                      {{ form_widget(formVdBien._token) }}
                      <div class="col-md-6">
                          <button type="submit" style="width: 100px; height: 40px; border-radius: 25px; font-size: 15px; line-height: 40px; color: white; background-color: #005555; border: none;">
                              Envoyer
                          </button>
                      </div>
                  </div>
              </div>
          {{ form_end(formVdBien) }}
        </div>
      </div>
    </div>
  </div>
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            let btnLocataire = jQuery('#locataire-tab');
            let btnProprietaire = jQuery('#proprietaire-tab');
            let btnLoc = jQuery('#loc-tab');
            let btnPro = jQuery('#pro-tab');
            btnLocataire.css('border', '3px solid #005555').css('border-radius', '20px');
            btnProprietaire.css('border', '3px solid transparent');
            btnLoc.css('border-bottom', '3px solid #005555');
            btnPro.css('border-bottom', '3px solid transparent');
            btnLocataire.click(function () {
                jQuery(this).css('border', '3px solid #005555').css('border-radius', '20px');
                btnProprietaire.css('border', '3px solid transparent');
            });
            btnProprietaire.click(function () {
                jQuery(this).css('border', '3px solid #005555').css('border-radius', '20px');
                btnLocataire.css('border', '3px solid transparent');
            });
            btnLoc.click(function () {
                jQuery(this).css('border-bottom', '3px solid #005555');
                btnPro.css('border-bottom', '3px solid transparent');
            });
            btnPro.click(function () {
                jQuery(this).css('border-bottom', '3px solid #005555');
                btnLoc.css('border-bottom', '3px solid transparent');
            });
            
            // Affichage de chaque boite modale après soumission du formulaire
            let laisserDemandeModal = jQuery('.laisser-demande-modal');
            let estimerLoyerModal = jQuery('.estimer-loyer-modal');
            let confierMonBienModal = jQuery('.confier-mon-bien-modal');
            let mettreMonBienModal = jQuery('.mettre-mon-bien-modal');
            if (messageSucces === "demande") {
                laisserDemandeModal.modal('show').find('button.close').click(function() {
                    laisserDemandeModal.modal('hide').find('div.alert').remove();
                });
                console.log("{{ app.session.remove('message') }}");
            }
            if (messageSucces === "estimer_loyer") {
                estimerLoyerModal.modal('show').find('button.close').click(function() {
                    estimerLoyerModal.modal('hide').find('div.alert').remove();
                });
                console.log("{{ app.session.remove('message') }}");
            }
            if (messageSucces === "confier_bien") {
                confierMonBienModal.modal('show').find('button.close').click(function() {
                    confierMonBienModal.modal('hide').find('div.alert').remove();
                });
                console.log("{{ app.session.remove('message') }}");
            }
            if (messageSucces === "vendre_bien") {
                mettreMonBienModal.modal('show').find('button.close').click(function() {
                    mettreMonBienModal.modal('hide').find('div.alert').remove();
                });
                console.log("{{ app.session.remove('message') }}");
            }
           });
         // Fin ready
      </script>
{% endblock %}


{% endblock %}