{% extends 'base.html.twig' %}
{% block title %}
  ImmoPro | Biens disponibles
{% endblock %}

{% block body %}

    <div
        class="hero page-inner overlay"
        style="background-image: url('{{asset('assets/images/hero_bg_3.jpg')}}')"
      >
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-9 col-lg-9 text-center mt-5">
              <h1 class="heading" data-aos="fade-up" style="padding-top:50px;">
              RESULTATS DE VOTRE RECHERCHE
              </h1>

              <nav
                aria-label="breadcrumb"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <ol class="breadcrumb text-center justify-content-center">
                  <li class="breadcrumb-item"><a href="#">Aceuil</a></li>
                  <li class="breadcrumb-item">
                    <a href="properties.html"> Nos Biens</a>
                  </li>
                  <li
                    class="breadcrumb-item active text-white-50"
                    aria-current="page"
                  >
                    Disponibles
                  </li>

                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
           <div class="row">
              <div class="col-md-12 col-lg-12 mb-4" data-aos="fade-up" data-aos-delay="200">     
          {{ form_start(form) }}
            <form action="#">
              <div class="row">
                <div class="col-md-3 mb-3">
                 {{ form_row(form.minSurface) }}
                 <div class="form-error">
                    {{ form_errors(form.minSurface) }}
                 </div>
                </div>
                <div class="col-md-4 mb-3">
                 {{ form_row(form.typeBien) }}
                 <div class="form-error">
                    {{ form_errors(form.typeBien) }}
                 </div>
                </div>
                <div class="col-md-3 mb-3">
                 {{ form_row(form.maxPrice) }}
                    <div class="form-error">
                      {{ form_errors(form.maxPrice) }}
                    </div>
                </div>
                
                <div class="col-md-2">
                 <button class="btn btn-primary">Rechercher</button>  
                </div>
              </div>
            </form>
            {{ form_end(form) }}
          </div>
        </div>
            {{ include('pages/bien/_bien.html.twig') }}
    </div>
  </div>
{% endblock %}


