{% extends 'base.html.twig' %}
{% block title %}
 Choisissez un bien immobilier selon vos préférences
{% endblock %}

{% block body %}

  <div
    class="hero page-inner overlay"
    style="background-image: url('{{asset('assets/images/hero_bg_3.jpg')}}')"
  >
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-9 col-md-12 text-center mt-5">
          <h1 class="heading" data-aos="fade-up">
          Choisissez un bien immobilier selon vos préférences
          </h1>

          <nav
            aria-label="breadcrumb"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <ol class="breadcrumb text-center justify-content-center">
              <li class="breadcrumb-item"><a href="#">Aceuil</a></li>
              <li class="breadcrumb-item">
                <a href="properties.html">BIEN</a>
              </li>
              <li
                class="breadcrumb-item active text-white-50"
                aria-current="page"
              >
                Chambres salon
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

 <div class="section">
   <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 mb-4" data-aos="fade-up" data-aos-delay="200">     
          {{ form_start(form) }}
          <form action="#">
            <div class="row">
              <div class="col-md-3 mb-3">
                {{ form_row(form.lieu) }}
                <div class="form-error">
                    {{ form_errors(form.lieu) }}
                </div>
              </div>
              <div class="col-md-3 mb-3">
                 {{ form_row(form.type) }}
                <div class="form-error">
                    {{ form_errors(form.type) }}
                </div>
              </div>
              <div class="col-md-2 mb-3">
                 {{ form_row(form.standing) }}
                <div class="form-error">
                    {{ form_errors(form.standing) }}
                </div>
              </div>
              <div class="col-md-2 mb-3" style="margin-top: 18px">
                 {{ form_row(form.maxPrice) }}
                  <div class="form-error">
                    {{ form_errors(form.maxPrice) }}
                  </div>
              </div>
              <div class="col-md-2 mb-3" style="margin-top: 18px">
                 <button class="btn btn-primary">Rechercher</button>  
              </div>
            </div>
          </form>
          {{ form_end(form) }}
       </div>
      </div>     
     <!-- .item -->
      
        <div class="col-md-12">
            <hr>
        </div>
              <div class="row">
                 {% for b in pagination %}
                  <div class="col-md-3">
                      <div class="property-item mb-30">
                        <a href="{{path('bien.show', {id: b.id})}}" class="img">
                            <img src="{{asset('assets/images/img_3.jpg')}}" alt="Image" class="img-fluid" />
                        </a>
                        <div class="property-content">
                            <div class="price mb-2">
                              <a class="" href="{{ path('bien.show', {'id': b.id}) }}" title="{{ b.price|number_format(0, ',', ' ') ~ ' FCFA '}}">
                                <i class="fa fa-money"></i><span>Prix : {{ b.price|number_format(0, ',', ' ') ~ ' FCFA ' }}</span>         
                              </a>
                            </div>
                            <div>
                                <a class ="" href="{{ path('bien.show', {'id': b.id}) }}" title = " {{ b.typeBien.type ~ (b.standing ? ' - ' ~ b.standing.name : '') }} à {{b.city}} ">
                                <h6> {{ b.typeBien.type ~ (b.standing ? ' - ' ~ b.standing.name : '') }} 
                                  {{ b.typeBien.categorie == 'a_louer' ? 'à louer' : 'à vendre' }} à {{b.city}} </h6>
                                </a>
                                
                                <span class="city d-block mb-3">Caracteristiques</span>

                                <div class="specs d-flex mb-4">
                                <span class="d-block d-flex align-items-center">
                                    <span class="icon-bath me-2"></span>
                                    <span class="caption"> Surface : {{b.surface}} m² </span>
                                  </span>
                                  <span class="d-block d-flex align-items-center">
                                    <span class="icon-bath me-2"></span>
                                    <span class="caption"> Niveau : {{b.floor}} </span>
                                  </span> 
                                  <span class="d-block d-flex align-items-center">
                                    <span class="icon-bath me-2"></span>
                                    <span class="caption"> Niveau : {{b.floor}} </span>
                                  </span>                       
                                </div>       
                                <div class="specs d-flex mb-4">
                                    <span class="d-block d-flex align-items-center me-3">
                                    <span class="icon-bed me-2"></span>
                                    <span class="caption">{{b.rooms}} pièces </span>
                                    </span>
                                    <span class="d-block d-flex align-items-center">
                                    <span class="icon-bath me-2"></span>
                                    <span class="caption"> {{b.bedrooms}} chambres </span>
                                    </span>
                                    <span class="d-block d-flex align-items-center">
                                    <span class="icon-bath me-2"></span>
                                    <span class="caption"> Type de compteur : {{b.heat}}</span>
                                    </span>
                                </div>
                                <div class="date">
                                    <i class="fa fa-clock-o"></i> Publié le {{ b.createdAt ? b.createdAt|date('d/m/Y') : '' }}
                                      {% if b.reference is not null %}
                                      
                                        <a class="d-nwrap" href="{{ path('bien.show', {'id': b.id}) }}" title="Référence: {{ b.reference }}">
                                          <i class="fa fa-info-circle"></i> Réf: {{ b.reference }}
                                        </a>
                                      {% endif %}
                                </div>
                                <div>
                                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('bien.show', {'id': b.id}) }}" target="_blank">
                                      <i class="fa fa-facebook-official partager-reseaux-sociaux" title="Partager sur facebook"></i>
                                  </a>
                                  {% set lienACliquer = '' ~ url('bien.show', {'id': b.id}) %}
                                  {% set textWhatsApp = "Bonjour madame/monsieur. J'ai consulté le bien immobilier \"" ~ b.name ~ "\" dont l'adresse est " ~ lienACliquer ~ " et je pense que ça pourra vous intéresser." %}
                                  <a href="https://wa.me/?text={{ textWhatsApp }}" target="_blank">
                                      <i class="fa fa-whatsapp partager-reseaux-sociaux" title="Partager sur WhatsApp"></i>
                                  </a>
                                </div>
                                <a
                                href="{{path('bien.show', {id: b.id})}}"
                                class="btn btn-primary py-2 px-3"
                                >Plus de details</a
                                >
                            </div>
                        </div>
                    </div>
                  </div>
                {% else %}
                <div class="col-md-12">
                    <div class="card border-info text-center pt-10">
                        <div class="mb-20">
                            <strong>
                                Aucun bien correspondant aux critères de votre recherche
                            </strong>
                        </div>
                        <div>
                            <p>Contactez-nous :</p>
                            <p>
                                <a href="tel:67922379">67 92 23 79</a>
                    </div>
                {% endfor %}
           </div>
  
          {# display navigation #}           
        
         
        <div class="navigation-lg d-flex justify-content-center mt-20">
              {{ knp_pagination_render(pagination) }}
          </div>
      </div>
       <!-- .item -->
    </div>
  </div>
{% endblock %}