{% extends 'base.html.twig' %}
{% block title %}
 Choisissez un bien immobilier selon vos préférences
{% endblock %}

{% block body %}

  <div
    class="hero page-inner overlay"
    style="background-image: url('{{asset('assets/images/hero_bg_3.jpg')}}')"
  >
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-9 col-md-12 text-center mt-5">
          <h1 class="heading" data-aos="fade-up" style="padding-top:50px;">
          Choisissez un bien immobilier selon vos préférences
          </h1>

          <nav
            aria-label="breadcrumb"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <ol class="breadcrumb text-center justify-content-center">
              <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Aceuil</a></li>
              <li class="breadcrumb-item">
                <a href="{{ path('bien.tout.index') }}"> Nos Biens</a>
              </li>
              <li
                class="breadcrumb-item active text-white-50"
                aria-current="page"
              >
                A louer
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
 <div class="section">
   <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 mb-1" data-aos="fade-up" data-aos-delay="200">
          {{ form_start(form) }}
          <form action="#">
            <div class="row">
              <div class="col-md-3 mb-1">
                {{ form_row(form.lieu) }}
                <div class="form-error">
                    {{ form_errors(form.lieu) }}
                </div>
              </div>
              <div class="col-md-3 mb-1">
                 {{ form_row(form.typeBien) }}
                <div class="form-error">
                    {{ form_errors(form.typeBien) }}
                </div>
              </div>
              <div class="col-md-2 mb-1">
                 {{ form_row(form.standing) }}
                <div class="form-error">
                    {{ form_errors(form.standing) }}
                </div>
              </div>
              <div class="col-md-2 mb-1" style="margin-top: 18px">
                 {{ form_row(form.maxPrice) }}
                  <div class="form-error">
                    {{ form_errors(form.maxPrice) }}
                  </div>
              </div>
              <div class="col-md-2 mb-1" style="margin-top: 18px">
                 <button class="btn btn-primary">Rechercher</button>  
              </div>
            </div>
          </form>
          {{ form_end(form) }}
       </div>
      </div>
        <div class="col-md-12 ">
            <hr>
        </div>
       {{ include('pages/bien/_bien.html.twig') }}
  </div>
{% endblock %}