{% extends 'base.html.twig' %}

{% block title %} Immopro | {{bien.name}}{% endblock %}

{% block body %}

<div
      class="hero page-inner overlay"
      style="background-image: url('{{asset('assets/images/hero_bg_3.jpg')}}')"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-9 col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up" style="padding-top:50px;">
              {{ bien.typeBien.type ~ (bien.standing ? ' - ' ~ bien.standing.name : '') }}
              {{ bien.typeBien.categorie == 'a_louer' ? 'à louer' : 'à vendre' }} à {{bien.city}}
            </h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                <li class="breadcrumb-item">
                  <a href="{{ path('bien.tout.index') }}">Nos Biens</a>
                </li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  {{ bien.name}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6 col-lg-7">
            <div class="img-property-slide-wrap">
              <div class="img-property-slide">
                <img src="{{asset('assets/images/img_1.jpg')}}" alt="Image" class="img-fluid" />
                <img src="{{asset('assets/images/img_2.jpg')}}" alt="Image" class="img-fluid" />
                <img src="{{asset('assets/images/img_3.jpg')}}" alt="Image" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <h2 class="heading text-primary"> <i class="fa fa-money"></i><span>Prix : {{ bien.price|number_format(0, ',', ' ') ~ ' FCFA ' }}{{bien.paiementLouer ? '/'~ bien.paiementLouer :''}}</span></h2>
            <p class="meta">{{ bien.typeBien.type ~ (bien.standing ? ' - ' ~ bien.standing.name : '') }}
              {{ bien.typeBien.categorie == 'a_louer' ? 'à louer' : 'à vendre' }} à {{bien.city}}</p>
            <p class="text-black-50">
              Nombre de pièces: {{bien.rooms ? bien.rooms : 'Non renseignés' }}
            </p>
            <p class="text-black-50">
              Nombre de chambres: {{bien.bedrooms ? bien.bedrooms : 'Non renseignés'}}
            </p>
            <p class="text-black-50">
              Description : <br>
              {{bien.description}}
            </p>

            <div class="d-block agent-box p-5 text-center">
              <div class="img mb-4">
                <img
                  src="{{asset('assets/images/person_2-min.jpg')}}"
                  alt="Image"
                  class="img-fluid"
                />
              </div>
              <div class="text">
                <h3 class="mb-0">Alicia Huston</h3>
                <div class="meta mb-3">Contacter l'Agent</div>
                <p>
                 +229 67922379
                </p>
                <ul class="list-unstyled social dark-hover d-flex justify-content-center align-items-center">
                  <li class="me-1">
                    <a href="#"><span class="icon-instagram"></span></a>
                  </li>
                  <li class="me-1">
                    <a href="#"><span class="icon-twitter"></span></a>
                  </li>
                  <li class="me-1">
                    <a href="#"><span class="icon-facebook"></span></a>
                  </li>
                  <li class="me-1">
                    <a href="#"><span class="icon-linkedin"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
