{% extends 'base.html.twig' %}
{% block title %}
 Réussissez votre investissement immobilier
{% endblock %}

{% block body %}

  <div
    class="hero page-inner overlay"
    style="background-image: url('{{asset('assets/images/hero_bg_3.jpg')}}')"
  >
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-9 col-lg-9 text-center mt-5">
          <h1 class="heading" data-aos="fade-up" style="padding-top:50px;">
          Réussissez votre investissement immobilier
          </h1>

          <nav
            aria-label="breadcrumb"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <ol class="breadcrumb text-center justify-content-center">
              <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Aceuil</a></li>
              <li class="breadcrumb-item">
                <a href="{{ path('bien.tout.index') }}">BIEN</a>
              </li>
              <li
                class="breadcrumb-item active text-white-50"
                aria-current="page"
              >
                A vendre
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
  <div class="section">
   <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 mb-4" data-aos="fade-up" data-aos-delay="200">     
          {{ form_start(form) }}
          <form action="#">
            <div class="row">
              <div class="col-md-3 mb-3">
                {{ form_row(form.lieu) }}
                <div class="form-error">
                    {{ form_errors(form.lieu) }}
                </div>
              </div>
              <div class="col-md-4 mb-3">
                 {{ form_row(form.typeBien) }}
                <div class="form-error">
                    {{ form_errors(form.typeBien) }}
                </div>
              </div>
              <div class="col-md-3 mb-4" style="margin-top: 18px">
                 {{ form_row(form.maxPrice) }}
                  <div class="form-error">
                    {{ form_errors(form.maxPrice) }}
                  </div>
              </div>
              <div class="col-md-2" style="margin-top: 18px">
                 <button class="btn btn-primary">Rechercher</button>  
              </div>
            </div>
          </form>
          {{ form_end(form) }}
       </div>
      </div>     
     <!-- .item -->

           
      <div class="col-md-12">
        <hr>
      </div>
       {{ include('pages/bien/_bien.html.twig') }}
  </div>
{% endblock %}

                                 
                                      
                                  
                                      
                                 