<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block title %}Immopro | Administration{% endblock %}</title>

  <meta content="" name="description">
  <meta content="" name="keywords">

      {% block stylesheets  %}
        {% include 'admin/partiel/stulo.html.twig' %}        
      {% endblock %}
  
</head>

<body>
    {% block header %}
        {% include 'admin/partiel/header.html.twig' %}
        {% endblock %}

      {% block body %}
      {% include 'admin/partiel/body.html.twig' %}

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{asset('asset/img/profile-img.jpg')}}" alt="Profile" class="rounded-circle">
              <h2> {{app.user.fullName}}</h2>
              <h3>Agent Immobilier</h3>
              
            </div>
          </div>
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <h2>  
            <a href = "{{ path('app.typebien.new') }}" class = 'btn btn-primary'>Ajouter type bien</a>  
                
              </h2>
             </div>
          </div>

        </div>
        
        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3"> 
              <h1>Administration des types de biens</h1>
               {% for message in app.flashes('success') %}
                 <div class = 'alert alert-success mt-4'>
                  {{message}}
                 </div> 
               {% endfor %}
                <table class="table table-hover m-4">
                      <thead>
                          <tr>
                              <th scope="col">Type de bien</th>
                              <th scope="col">Date d'ajout</th>
                              <th scope="col">Date du dernière modification</th>
                              <th scope="col">Edition</th>

                          </tr>
                      </thead>
                      <tbody>
                          {% for typebien in typebiens %}
                              <tr class="table-primary">
                                  <th scope="row"><h6> {{typebien.type}}</h6></th>
                                  <th scope="row"> <h6>{{typebien.createdAt|date("d/m/Y à H:i:s")}} </h6></th>
                                  <th scope="row"> <h6>{{typebien.updatedAt|date("d/m/Y à H:i:s") }} </h6></th>
                                  <th scope="row">
                                  <a href = "{{path('app.typebien.edit', {id: typebien.id } )}}" class="btn btn-info">Editer</a>
                                  </th>

                              </tr>
                          {% endfor %}
                      </tbody>
                 </table>            
                <div class="pagination page-item disabled">
                 {{knp_pagination_render(typebiens) }}
                </div>
            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->
   {% endblock %}

       {% block footer %}
        {% include 'admin/partiel/footer.html.twig' %}
        
        {% endblock %}
</body>

</html>