
{% extends 'admin/bien/index.html.twig' %}
{% block title %}
   Administration des types de bien
{% endblock %}
{% block pageTitle %}
    Administration des types de bien
{% endblock %}
{% block breadcrumb %}
Ajout de type de bien
{% endblock %}
{% block bouton %}
    <a href="{{ path('admin_index') }}" class="btn btn-primary btn-sm">Tableau de bord</a>
{% endblock %}

{% block body %}
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body pt-3"> 
        {{ form_start(form) }}
              <div class="row mb-3">
                <div class="col-md-6 col-lg-12"> {{ form_row(form.type) }}</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 col-lg-12 form-check"> {{ form_row(form.favori) }}</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 col-lg-12 form-check" id="love"> {{ form_row(form.chois) }}</div>
              </div>             
          {{ form_widget(form) }}
            <button class=" col-md-12 col-lg-12 btn btn-primary mt-4">Enrégistrer</button>                    
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function () {
       let logementTypeLouer = jQuery('#loge_chois_0');
       let logementTypeVendre = jQuery('#loge_chois_1');
       logementTypeVendre.attr('checked', 'checked');


       
        });

  {% endblock %}

    