{% block footer %}

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>ImmoAdmin</span></strong>. Tous Droits Reservés
    </div>
    <div class="credits">
      <a href="https://immopro.com/">Immopro.com</a>
    </div>
  </footer><!-- End Footer -->
  {% endblock %}
           {% block javascripts %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{asset('asset/vendor/apexcharts/apexcharts.min.js')}}"></script>
  <script src="{{asset('asset/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('asset/vendor/chart.js/chart.umd.js')}}"></script>
  <script src="{{asset('asset/vendor/echarts/echarts.min.js')}}"></script>
  <script src="{{asset('asset/vendor/quill/quill.min.js')}}"></script>
  <script src="{{asset('asset/vendor/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{asset('asset/vendor/tinymce/tinymce.min.js')}}"></script>
  <script src="{{asset('asset/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('asset/js/main.js')}}"></script>
   {% endblock %}