<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="favicon.png" />
        <meta name="description" content="" />
        <meta name="keywords" content="bootstrap, bootstrap5" />

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

         <link
         href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
          rel="stylesheet"
           />
        <link rel="stylesheet" type="text/css" href="{{asset('assets/fonts/icomoon/style.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('assets/fonts/flaticon/font/flaticon.css')}}" />

        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/tiny-slider.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/style.css')}}" />
        
         {% endblock %}
        
    </head>
    <body>
        {% block header %}
        {% include 'partiels/header.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}


        {% block footer %}
        {% include 'partiels/footer.html.twig' %}
        
        {% endblock %}

        {% block javascripts %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" 
         integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
         
        <script type="text/javascript" src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('assets/js/tiny-slider.js')}}"></script>
        <script type="text/javascript" src="{{asset('assets/js/aos.js')}}"></script>
        <script type="text/javascript" src="{{asset('assets/js/navbar.js')}}"></script>
        <script type="text/javascript" src="{{asset('assets/js/counter.js')}}"></script>
        <script type="text/javascript" src="{{asset('assets/js/custom.js')}}"></script> 
       
       <script type="text/javascript" async>
                window.$crisp=[];
                window.CRISP_WEBSITE_ID="e3647ba9-b95d-4dc1-b3be-868c93dee878";
                (function(){
                    d=document;
                    s=d.createElement("script");
                    s.src="https://client.crisp.chat/l.js";
                    s.async=1;
                    d.getElementsByTagName("head")[0].appendChild(s);
                })();
            </script>
            <script type="text/javascript">
                jQuery('document').ready(function () {
                    jQuery('.select2').select2();
                    jQuery('a.zoombox').zoombox({
                        theme       : 'zoombox',        // available themes : zoombox, lightbox, prettyphoto, darkprettyphoto, simple
                        opacity     : 0.8,              // Black overlay opacity
                        duration    : 800,              // Animation duration
                        animation   : true,             // Do we have to animate the box ?
                        width       : 600,              // Default width
                        height      : 400,              // Default height
                        gallery     : true,             // Allow gallery thumb view
                        autoplay : false,                // Autoplay for video
                        overflow: false                 // Allow content to overflow the screen
                    });
                    
                }); // Fin ready
            </script>
        {% endblock %}
    </body> 
        
</html>
