{% extends 'base.html.twig' %}
{% block title %}
  ImmoPro | Contact
{% endblock %}   
{% block body %}
    <div
      class="hero page-inner overlay"
      style="background-image: url('{{asset('assets/images/hero_bg_1.jpg')}}')">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up" style="padding-top:25px;">Contact-Nous</h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="#">Aceuil</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  Contact
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div
            class="col-md-4 col-lg-4 mb-2 mb-lg-0"
            data-aos="fade-up"
            data-aos-delay="100"
           >
            <div class="contact-info">
              <div class="address mt-2">
                <i class="icon-room"></i>
                <h4 class="mb-2">Adresse:</h4>
                <p>
                  43 Raymouth Rd. Baltemoer,<br />
                  Cotonou 3910
                </p>
              </div>

              <div class="open-hours mt-4">
                <i class="icon-clock-o"></i>
                <h4 class="mb-2">Heure de service:</h4>
                <p>
                  Lundi-Samedi:<br />
                  07:30 - 17:30 PM
                </p>
              </div>

              <div class="email mt-4">
                <i class="icon-envelope"></i>
                <h4 class="mb-2">Email:</h4>
                <p>immopro@contact.com</p>
              </div>

              <div class="phone mt-4">
                <i class="icon-phone"></i>
                <h4 class="mb-2">Call:</h4>
                <p>+229 97 55 88 55</p>
                <p>+229 99 55 88 55</p>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-lg-8" data-aos="fade-up" data-aos-delay="200">
              {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
              {% endfor %}

              {{ form_start(form) }}
            <form action="#">
              <div class="row">
                <div class="col-md-6 mb-2 mt-2">
                 {{ form_row(form.name) }}
                 <div class="form-error">
                    {{ form_errors(form.name) }}
                 </div>
                </div>
                <div class="col-md-6 mb-2 mt-2">
                 {{ form_row(form.email) }}
                    <div class="form-error">
                      {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="col-md-12 mb-2 mt-2">
                  {{ form_row(form.objet) }}
                    <div class="form-error">
                      {{ form_errors(form.objet) }}
                   </div>
                </div>
                <div class="col-md-12 mb-2 mt-2">
                  {{ form_row(form.message) }}
                   <div class="form-error">
                      {{ form_errors(form.message) }}
                   </div>
                </div>
                <div class="col-md-12 mt-2">
                {{ form_row(form.submit) }}  
                </div>
              </div>
            </form>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
{% endblock %}