{% extends 'admin/bien/index.html.twig' %}
{% block title %}
  Immopro | Demande de contact 
{% endblock %}
{% block pageTitle %}
   Immopro | Demande de contact 
{% endblock %}
{% block breadcrumb %}
Liste des contacts
{% endblock %}
{% block bouton %}
    <a href="{{ path('admin_index') }}" class="btn btn-primary btn-sm">Tableau de bord</a>
{% endblock %}

{% block body %}
  <div class="card">
      <div class="card-body">
               {% for message in app.flashes('success') %}
                 <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                     </div>
               {% endfor %}
              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Objet</th>
                    <th scope="col">Message</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action 1</th>
                    <th scope="col">Action 2</th>
                  </tr>
                </thead>
                <tbody>
                  {% for contact in contacts %}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{contact.name}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.objet}}</td>
                    <td>{{contact.message}}</td>
                    <td>{{contact.createdAt|date("d/m/Y à H:i:s") }}</td>
                    <td>
                    <a href="mailto:{{contact.email}}" class="btn btn-primary">Repondre</a> </td>
                    <td>
                    <a href="{{path('app_contact_delete', {id: contact.id })}}" class="btn btn-danger">Suprimer</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
      </div>
  </div>

