<div class="card">
        <div class="card-body py-2">
            <!-- Table with stripped rows -->
            <table class="table table-bordered table-striped table datatable">
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Date d'ajout</th>
                        <th scope="col">Publier par</th>
                        <th scope="col">Favori</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Type de bien</th>
                        <th scope="col">Lieu</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    {% for bien in biens %}
                        <tr>
                            <td > {{bien.name ? bien.name : '' }}</td>
                            <td >{{bien.price|number_format(0, ',', ' ') }} $</td>
                            <td scope="row">{{ bien.createdAt ? bien.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td scope="row"> {{ bien.user.fullName ? bien.user.fullName : '' }}</td>
                            <td >
                                <span class="{{ bien.sold ? 'badge bg-success' : '' }}">
                                    {{ bien.sold ? 'Oui' : 'Non' }}
                                </span>
                            </td>
                            <td >
                                {% if bien.etat == 'publie' %}
                                    <span class="badge bg-success">
                                        Publié
                                    </span>
                               {% elseif bien.etat == 'en attente de publication' %}
                                    <span class="badge bg-primary">
                                        En attente de publication
                                    </span>
                                {% elseif bien.etat == 'loue' %}
                                    <span class="badge bg-danger">
                                        Déjà loué
                                    </span>
                                {% elseif bien.etat == 'vendu' %}
                                    <span class="badge bg-danger">
                                        Déjà vendu
                                    </span>
                                {% endif %}
                            </td>
                            <td >
                                {% if bien.typeBien.categorie == 'a_louer' %}
                                    {{ bien.typeBien.type ~ (bien.standing ? ' | ' ~ bien.standing.name ~ ' ' : ' ') ~ '| A louer' }}
                                {% else %}
                                    {{ bien.typeBien.type ~ (bien.standing ? ' | ' ~ bien.standing.name ~ ' ' : ' ') ~ '| A vendre' }}
                                {% endif %}
                            </td>
                            <td>  {{bien.city}}</td>
                            <th scope="row">
                                <a href = "{{path('app.admin.edit', {id: bien.id } )}}" class="btn btn-info">Editer</a>
                            </th>
                            <th>
                                {{ include('admin/bien/_delete_form.html.twig') }}
                            </th>
                            <th>
                                <form method="post" action="{{ path('app.republier.bien', {'id': bien.id } )}}" onsubmit="return confirm('Etes vous vraiment sûr de vouloir republier le bien?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('republier' ~ bien.id) }}">
                                <button class="btn btn-outline-info btn-sm w-100 my-1">Republier</button>
                                </form>
                            </th>
                        </tr>

                    {% else %}
                            <tr>
                                <td colspan="9" class="text-center">Aucun enregistrement</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>    
