{% extends 'admin/bien/index.html.twig' %}
{% block title %}
   Liste des biens en attente de publication
{% endblock %}
{% block pageTitle %}
    Liste des biens en attente de publication
{% endblock %}
{% block breadcrumb %}
    Agent Immobilier
{% endblock %}
{% block bouton %}
    <a href="{{ path('admin_index') }}" class="btn btn-primary btn-sm">Tableau de bord</a>
{% endblock %}

{% block body %}
   <div class="card">
        <div class="card-body py-2">
            <!-- Table with stripped rows -->
            <table class="table table-bordered table-striped table-responsive datatable">
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Date d'ajout</th>
                        <th scope="col">Publier par</th>
                        <th scope="col">Favori</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Type de bien</th>
                        <th scope="col">Lieu</th>
                    </tr>
               </thead>
               <tbody>
                    {% for bien in biens %}
                        <tr>
                            <td ><h6> {{bien.name ? bien.name : '' }} </h6></td>
                            <td ><h6>{{bien.price|number_format(0, ',', ' ') }} $ </h6></td>
                            <td ><h6>{{bien.createdAt ? bien.createdAt|date('d/m/Y H:i:s') : '' }} </h6></td>
                            <td ><h6> {{ bien.user.fullName ? bien.user.fullName : '' }}</h6></td>
                            <td >
                                <span class="{{ bien.sold ? 'badge bg-success' : '' }}">
                                    {{ bien.sold ? 'Oui' : 'Non' }}
                                </span>
                            </td>
                            <td ><h6>
                            {% if bien.etat == 'publie' %}
                             <span class="badge bg-success">
                                   Publié
                                </span>
                            {% elseif bien.etat == 'en attente de publication' %}
                                <span class="badge bg-primary">
                                    En attente de publication
                                </span>
                            {% elseif bien.etat == 'loue' %}
                                <span class="badge bg-danger">
                                    Déjà loué
                                </span>
                            {% elseif bien.etat == 'vendu' %}
                                <span class="badge bg-danger">
                                    Déjà vendu
                                </span>
                            {% endif %}
                            </h6></td>
                            <td >
                            {% if bien.typeBien.categorie == 'a_louer' %}
                                {{ bien.typeBien.type ~ (bien.standing ? ' | ' ~ bien.standing.name ~ ' ' : ' ') ~ '| A louer' }}
                            {% else %}
                                    {{ bien.typeBien.type ~ (bien.standing ? ' | ' ~ bien.standing.name ~ ' ' : ' ') ~ '| A vendre' }}
                            {% endif %}
                            </td>
                            <td>  {{bien.city}}</td>
                            <td>
                                <a href = "{{path('app.admin.edit', {id: bien.id } )}}" class="btn btn-info">Editer</a>
                            </td>
                            <td>
                            {{ include('admin/bien/_delete_form.html.twig') }}
                            </td>
                            <td>
                                <form method="post" action="{{ path('app.publier.bien', {'id': bien.id }) }}" onsubmit="return confirm('Etes vous vraiment sûr de vouloir publier le bien?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('publier' ~ bien.id) }}">
                                    <button class="btn btn-outline-info btn-sm w-100 my-1">Publier</button>
                                </form>
                            </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="6" class="text-center">Aucun enregistrement</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}