{% extends 'admin/bien/index.html.twig' %}


{% block title %}
   Mes biens publiés
{% endblock %}
{% block pageTitle %}
   Mes biens publiés
{% endblock %}
{% block breadcrumb %}
    Agent Immobilier
{% endblock %}
{% block bouton %}
    <a href="{{ path('admin_index') }}" class="btn btn-primary btn-sm">Tableau de bord</a>
{% endblock %}

{% block body %}
    <div class="card">
                        <div class="card-body py-2">
                            <h1 class="card-title">Mes biens publiés</h1>

                            <!-- Table with stripped rows -->
                            <table class="table table-hover">
                      <thead>
                          <tr>
                              <th scope="col">Titre</th>
                              <th scope="col">Prix</th>
                              <th scope="col">Date d'ajout</th>
                              <th scope="col">Publier par</th>
                              <th scope="col">Favorie</th>
                              <th scope="col">Etat</th>
                              <th scope="col">Type de bien</th>
                              <th scope="col">Categorie</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for bien in biens %}
                              <tr class="table-primary">
                                  <th scope="row"><h6> {{bien.name}} </h6></th>
                                  <th scope="row"><h6>{{bien.price}} $ </h6></th>
                                  <th scope="row"><h6>{{bien.createdAt|date("d/m/Y à H:i:s")}} </h6></th>
                                  <th scope="row"><h6> {{ bien.user.fullName}}</h6></th>
                                  <th scope="row">
                                  <h6 class="btn btn-info btn-sm"> 
                                    {% if bien.sold == true %} Oui  {% else %} Non {% endif %}
                                  </h6>
                                  </th>
                                  <th scope="row"><h6> {{ bien.etat}}</h6></th>
                                  <th scope="row"><h6> {{ bien.typeBien.type}} | {{ bien.standing.name}} </h6></th>
                                  <th scope="row"><h6>
                                  {% if bien.typeBien.categorie == 'a_louer' %}  A louer {% else %} A vendre {% endif %}  
                                   </h6></th>
                                  {% if bien.typeBien.categorie == 'a_louer' %}
                                 <th>
                                  <form  method= "post" action="{{path('app_louer_bien', {'id': bien.id } )}}" onsubmit="return confirm(''Etes vous vraiment sûr que le bien est déja loué ?)">
                                    <input type="hidden" name="_method" value="LOUER" >
                                    <input type="hidden" name="_token" value="{{csrf_token('louer' ~ bien.id)}}" >
                                    <button class="btn btn-outline-danger btn-sm w-100 my-1">Déjà louer ?</button>
                                  </form>
                                   </th>
                                 {% else %}
                                  <th>
                                    <form method="post" action="{{path('app_vendre_bien', {'id': bien.id } )}}" onsubmit="return confirm(''Etes vous vraiment sûr que le bien est déja vendu ?)">
                                        <input type="hidden" name="_token" value="{{ csrf_token('vendre' ~ bien.id) }}">
                                    <input type="hidden" name="_method" value="VENDRE" >
                                        <button class="btn btn-outline-info btn-sm w-100 my-1">Déjà vendu ?</button>
                                    </form>
                                 </th>
                                {% endif %}                           

                                {% else %}
                                    <tr>
                                        <td colspan="8" class="text-center">Aucun enregistrement</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
{% endblock %}